body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: #414141;
}

#board{
    /* background-color: skyblue; */
    background-image: url(./images/flappybirdbg.png);
}